<!DOCTYPE html>
<html lang="<%= lang %>">

    <%- include('../../partials/head.ejs') %>

    <body>

        <div class="container-form sign-up-mode">
            <div class="forms-container">
              <div class="signin-signup forgot-pass">

                
      
                <!-- Sign Up Form -->
                <form id="forgot-password-form" class="sign-up-form" autocomplete="off">
                  <a href="/">
                    <img src="/img/Pruttikar_Logo1.png" class="mb-2" height="40px" width="40px" alt="logo">
                  </a>
                  <h2 class="titles mb-md-4"><%= t('auth.forgot-password.heading') %></h2>
                  
                  <div class="mb-3" style="max-width: 380px; width: 100%;">
                    <label style="max-width: 380px; width: 100%;" class="fw-medium mb-2" for=""><%= t('auth.forgot-password.label') %></label>
                  <div class="input-field" id="input-field-email">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="<%= t('auth.forgot-password.placeholder') %>" id="email" autofocus/>
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center" id="invalid_feedback_email">
                    <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2"><%= t('auth.forgot-password.nvalid-email') %></div>
                  </div>
                  </div>
                  
                  <div class style="max-width: 380px; width: 100%;">
      
                    <!-- Changed input to button -->
                    <button type="submit" class="btn btn-brand w-100 mt-1" id="btnForgotPass"><%= t('auth.forgot-password.button') %></button>
                    
                  </div>
                </form>
              </div>
            </div>
      
            <!-- Panels Container -->
            <div class="panels-container">
              <div class="panel left-panel">
                <div class="content">
                  <h3>
                    <%= t('auth.signin.content') %>
                  </h3>
                  <button class="btn transparent mt-3" id="sign-up-btn"><%= t('auth.signup.heading') %></button>
                </div>
                <img src="/img/forgotPass.png" class="image" alt />
              </div>
              <div class="panel right-panel">
                <!-- <div class="content">
                  <h3>
                    Welcome back! Let's get started Again!.
                  </h3>
                  <a role="button" href="/signin" class="btn transparent mt-3 "
                    id="sign-in-btn">Sign In</a>
                </div> -->
                <img src="/img/forgotPass.png" class="image" alt />
              </div>
            </div>
          </div>

        <%- include('../../partials/script.ejs')  %>
        <script src="/js/auth/forgot-password.js"></script>
    </body>

</html>