<!DOCTYPE html>
<html lang="en">

  <%- include('../../partials/head.ejs') %>

  <body>

    <div class="container-form sign-up-mode">
      <div class="forms-container">
        <div class="signin-signup forgot-pass">

          <!-- Sign Up Form -->
          <form id="verify-otp-form" class="sign-up-form" autocomplete="off">
            <a href="/">
              <img src="/img/Pruttikar_Logo1.png" class="mb-2" height="40px" width="40px" alt="logo">
            </a>
            <h2 class="titles mb-md-4"><%= t('auth.verify-otp.title') %></h2>

            <div class="mb-3" style="max-width: 380px; width: 100%;">
              <label class="form-label mb-4 "><%= t('auth.verify-otp.enter-email') %></label>
              <div id="otp-inputs"
                class="otp-inputs mb-3 d-flex justify-content-between"
                style="max-width: 380px; width: 100%;">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
                <input type="text" maxlength="1">
              </div>
              <div
                class="invalid_feedback text-danger d-flex align-items-center"
                id="invalid_feedback_otp">
                <i
                  class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                <div class="ms-2"><%= t('auth.verify-otp.invalid-email') %></div>
              </div>
            </div>
            <div class style="max-width: 380px; width: 100%;">

              <!-- Changed input to button -->
              <button type="submit" class="btn btn-brand w-100" id="btnVerify"><%= t('auth.verify-otp.verify') %></button>
            </div>
            <div
              class="resend-otp d-flex align-items-center justify-content-center my-1"
              style="max-width: 380px; width: 100%;">
              <%= t('auth.verify-otp.no-OTP') %> <button type="button" id="resendBtn"
                class="fw-medium text-brand bg-transparent p-0 border-0 ps-2"
                onclick="resendOtp(this)"><%= t('auth.verify-otp.resend') %></button>
            </div>
          </form>
        </div>
      </div>

      <!-- Panels Container -->
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>
              <%= t('auth.signin.content') %>
            </h3>
            <button class="btn transparent mt-3" id="sign-up-btn"><%= t('auth.signup.heading') %></button>
          </div>
          <img src="/img/log.svg" class="image" alt />
        </div>
        <div class="panel right-panel">
          <!-- <div class="content">
                  <h3>
                    Welcome back! Let's get started Again!.
                  </h3>
                  <a role="button" href="/signin" class="btn transparent mt-3 "
                    id="sign-in-btn">Sign In</a>
                </div> -->
          <img src="/img/otp.png" class="image" alt />
        </div>
      </div>
    </div>

    <%- include('../../partials/script.ejs') %>
    <script src="/js/auth/verify-otp.js"></script>
  </body>

</html>