   
    <footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-4 col-md-6 col-12 text-center text-md-start mb-4 mb-lg-0">
                    <a href="/">
                        <img src="/img/Prutika_Logo_text(2).png" alt class="logo" style="width: 200px;">
                    </a>
                    <div class="information pe-lg-5 mt-3">
                        <p><%= t('partials.footer.content') %></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 text-center text-md-start">
                    <h4 class="py-4 text-brand fw-bold"><%= t('partials.footer.contact-title') %></h4>
                    <p><%= t('partials.footer.telephone') %> +855-12-123-456</p>
                    <p><a href="mailto:pruttikaKH@gmail.com"><%= t('partials.footer.email') %> pruttikaKH@gmail.com</a></p>
                    <div class="social-media fs-2 d-flex justify-content-center justify-content-md-start gap-3">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-telegram"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-12 text-center text-md-start mt-4 mt-lg-0">
                    <h4 class="py-4 text-brand fw-bold"><%= t('partials.footer.link') %></h4>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div class="d-flex quick-link flex-column w-50 pe-3">
                            <a href=""><%= t('partials.footer.contact') %></a>
                            <a href=""><%= t('partials.footer.event') %></a>
                            <a href=""><%= t('partials.footer.about') %></a>
                        </div>
                        <div class="d-flex flex-column quick-link w-50">
                            <a href=""><%= t('partials.footer.policy') %></a>
                            <a href=""><%= t('partials.footer.team') %></a>
                            <a href=""><%= t('partials.footer.faq') %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-3 text-center">
            <span><%= t('partials.footer.copyright') %> | Pruttika.com.kh</span>
        </div>
    </footer>


