<!DOCTYPE html>
<html lang="<%= lang %>" >
<%- include("./partials/head.ejs")  %>
<body class="home">
    
    <%- include("./partials/navbar.ejs")  %>
    <div class="overlay"></div>
    <section class="hero-banner">
        <div id="carouselExampleAutoplaying" class="carousel  carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-flex align-items-center justify-content-center">
                    <div class="col-sm-6">
                        <div class="hero-title text-center p-5 ">
                            <h1 class="text-white fw-bold display-2 mb-3">It's
                                Time to <br> <span class="text-white display-1 fw-bold">Celebrate!</span></h1>
                            <div class="hero-button">
                                <button class="btn-darkpink position-relative"><a class="stretched-link fw-semibold"
                                        href="/event/create">Create your event
                                        now!</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="hero-img d-sm-block d-none">
                            <img src="/img/event1.jpg" alt>
                            <img src="/img/party1.png" alt>
                        </div>
                    </div>
                </div>
                <div class="carousel-item d-flex align-items-center justify-content-center">
                    <div class="col-sm-6">
                        <div class="hero-title text-center p-5">
                            <h1 class="text-white fw-bold display-4 mb-3">Promote your event <br> <span class="text-brand display-3 fw-bold">services</span> with Us!</h1>
                            <div class="hero-button">
                                <button class="btn-darkpink position-relative"><a class="stretched-link fw-semibold"
                                        href="/event/create">Promote yours now!</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="hero-img d-sm-block d-none ">
                            <img src="/img/webpage_on_pc.png" alt>
                            <img src="/img/statsevent.jpg" alt>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="container-lg my-5">
        <div class="d-flex justify-content-between mb-3">
            <h3><i class="fa-solid fa-globe text-brand me-3"></i><%= t('mainpage.all-event') %> <span class="text-brand"><%= t('mainpage.phnompenh') %> </span>, <%= t('mainpage.cambodia') %></h3>
            <a class="seeAllEvent color-style" href="/event/browse"><strong><%= t('mainpage.see-all-event') %></strong></a>
        </div>
        <div class="row g-4" id="inperson-event">
            
        </div>
    </section>
    <section class="container-lg my-5">
        <div class="d-flex justify-content-between mb-3">
            <h3><i class="fa-brands fa-elementor text-brand me-3"></i><%= t('mainpage.upcoming-online') %> <span
                    class="text-brand"><%= t('mainpage.events') %></span></h3>
            <a class="seeAllEvent color-style" href="/event/browse"><strong><%= t('mainpage.see-all-event') %></strong></a>
        </div>
        <div class="row" id="online-event">
            <!-- <div class="col-12 col-sm-10 col-md-6 col-lg-3 col-xl-3 mx-auto">
                <div class="event-card mb-3 mb-lg-3">
                    <img src="../../../public/img/hero.jpg" alt="Event" class="event-image">
                    <div class="event-card-hover">
                        <div class="rounded-icon mb-2">
                            <a href="#"><i class="fa-regular fa-heart text-brand"></i></a>
                        </div>
                        <div class="rounded-icon">
                            <a href="#"> <i class="fa-regular fa-copy text-brand"></i></a>
                        </div>
                    </div>
                    <div class="event-details">
                        <div class="position-relative z-3">
                            <div class="event-price text-center">50$</div>
                            <h5 class="fw-bold mb-3 text-center event-title">Cybersecurity</h5>
                            <div class="event-tags mb-3 text-center">
                                <span class="badge">Music</span>
                                <span class="badge">Technology</span>
                            </div>
                            <div class="event-meta px-4">
                                <p class="mb-1"><i class="fa-regular fa-calendar me-2"></i> Web, 7 December • 5:00PM</p>
                                <p class="mb-0"><i class="bi bi-geo-alt me-2"></i> Street 2002, Riverside, Porsenchey,
                                    Phnom Penh</p>
                            </div>
                            <div class="event-author d-flex align-items-center px-4 my-3">
                                <img src="../../../public/img/Default_pfp.jpg" alt="Author" class="me-3 rounded-circle"
                                    style="width: 30px; height: 30px; object-fit: cover;">
                                <span class="fw-bold">Tom Jerranie</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
        </div>
    </section>


    <section class="container-lg my-5">
        <h3 class="text-center text-md-start">
            <i class="fa-solid fa-layer-group text-brand me-3 mb-3"></i>
            <%= t('mainpage.explore-top') %> <span class="text-brand"><%= t('mainpage.categories') %></span>
        </h3>
        <div class="row g-4">
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-microchip fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Technology</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 ">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-medal fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Sport & Fitness</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-hand-holding-hand fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Health Care</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4  col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-award fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Education</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-icons fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Music</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-business-time fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Business</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-palette fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Art</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-face-laugh-squint fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Entertainment</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-people-roof fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Family & Kids</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-utensils fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Food & Drink</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-solid fa-network-wired fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Networking</strong>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6">
                <div class="card-categories text-center">
                    <div class="categories-icon">
                        <i class="fa-regular fa-handshake fs-3"></i>
                    </div>
                    <div class="categories-title mt-2">
                        <strong>Meeting</strong>
                    </div>
                </div>
            </div>
        </div>
    </section>

         <!-- Stats Section -->
         <section class="stats">
            <div class="container-lg">
                <div class="row position-relative z-1">
                    <div class="col-md-4 text-center ">
                        <h2 class="count" data-target="5000" data-duration="2000">0</h2>
                        <strong><%= t('mainpage.event-created') %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2 class="count" data-target="5000" data-duration="2000">0</h2>
                        <strong><%= t('mainpage.event-management') %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2 class="count" data-target="10000" data-duration="2500">0</h2>
                        <strong><%= t('mainpage.event-ticket') %></strong>
                    </div>
                </div>
            </div>
        </section>

     <!-- About Section -->
     <section class="container-lg my-5">
        <div class="row align-items-center">
          
            <div class="col-12 col-md-6 text-center text-md-start px-3 px-md-0">
            <h1><%= t('mainpage.abt-1') %> <span class="text-brand fw-bolder"><%= t('mainpage.pruttika') %> : </span></h1>
            <h1 class="fw-bold"><%= t('mainpage.abt-h1') %></h1>
            <p class="mt-4 fs-5"><%= t('mainpage.abt-p') %></p>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="/img/webpage_on_pc.png" alt="" class="img-fluid"
                style="height: auto; max-height: 350px;">
        </div>
    </div>
    </section>





    <%- include("./partials/footer.ejs") %>
    
    <%- include("./partials/script.ejs")  %>
    <script src="/js/static/homepage.js"></script>
</body>
</html>