<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head.ejs") %>

<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container-lg py-5">
        <h3 class="fw-medium mb-3" style="color: #333;"><%= t('ticket.buy-ticket.request-purchase') %><span class="text-brand"><%= t('ticket.buy-ticket.ticket') %></span></h3>
        <div class="row">
            <div class="col-12 col-md-6" id="event-card">
            </div>
                <div class="col-md-6">
                    <div class="card border-brand-sm shadow-light-sm">
                        
                        <div class="card-body">
                            <h5 class="card-title" style="color: #333;"><%= t('ticket.buy-ticket.purchase-info') %></h5>
                            <div class="mb-3">
                                <label for="ticketQuantity" class="form-label"><%= t('ticket.buy-ticket.type') %>:</label>
                                <select class="form-select shadow-none border-brand-sm py-2" id="ticketType">
                                    <option selected value='1'>1</option>
                                    <option value='2'>2</option>
                                    <option value='3'>3</option>
                                    <option value='4'>4</option>
                                    <option value='5'>5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ticketQuantity" class="form-label"><%= t('ticket.buy-ticket.qty') %>:</label>
                                <select class="form-select shadow-none border-brand-sm py-2" id="ticketQuantity">
                                    <option selected value='1'>1</option>
                                    <option value='2'>2</option>
                                    
                                    <option value='3'>3</option>
                                    <option value='4'>4</option>
                                    <option value='5'>5</option>
                                </select>
                            </div>
                            <hr class="text-brand bg-brand opacity-100">
                            <p><%= t('ticket.buy-ticket.Subtotal') %>: <span id="subTotal" class="float-end">$10.00</span></p>
                            <p><%= t('ticket.buy-ticket.discount') %>: <span class="float-end">$0.00</span></p>
                            <h5 class="text-brand"><%= t('ticket.buy-ticket.total') %>: <span id="total" class="float-end fw-medium">$10.00</span></h5>
                            <hr class="text-brand bg-brand opacity-100">
                            <div class="mb-3">
                            <label class="form-label"><%= t('ticket.buy-ticket.qr') %></label>
                            <button class="btn btn-outline-brand w-100 fw-medium" onclick="toggleQRCode()"><i class="bi bi-qr-code"></i>&nbsp;<%= t('ticket.buy-ticket.showqr') %></button>
                            <img src="" width="200" alt="QR Code" id="qrCodeImage" class="img-fluid mt-3 d-none">
                        </div>
                           <!-- Upload Payment Proof -->
                <div class="mb-4">
                    <label for="paymentProof" class="form-label"><%= t('ticket.buy-ticket.upload-payment') %></label>
                    <label for="paymentProof"  class="upload-box text-center border rounded p-3 position-relative">
                        <input type="file" class="file-input" accept="image/*" id="paymentProof" onchange="previewImage()">
                        <i class="bi bi-cloud-plus-fill fs-3 text-brand"></i>
                        <p class="mb-0">Upload Transaction</p>
                        <img id="preview" class="img-fluid mt-2 d-none" style="max-width: 150px; max-height: 150px;" />
                    </label>
                </div>

                        
                        <!-- <div class="mb-3">
                            <label for="paymentProof" class="form-label"><%= t('ticket.buy-ticket.upload-payment') %></label>
                            
                            <div class=" d-flex align-items-center border border-brand-sm p- rounded">
                                <input type="file" class="d-none" id="paymentProof" accept=".jpeg, .jpg, .pdf" onchange="previewFile()">
                                <button class="btn text-nowrap text-brand d-flex align-items-center fw-normal fs-6 rounded-0 py-1"  style="border-right: 1px solid var(--c-brand);" onclick="document.getElementById('paymentProof').click();">
                                    <i class="bi bi-upload me-2"></i> <%= t('ticket.buy-ticket.choose-file') %>
                                </button>
                                <label for="paymentProof" id="fileName" class="ms-2 text-muted h-100 w-75 d-block"><%= t('ticket.buy-ticket.no-file') %></label>
                            </div>
                            
                            <small class="text-muted"><%= t('ticket.buy-ticket.val-msg') %></small>
                        </div> -->
                            <button class="btn btn-brand w-100" id="submitButton"><%= t('ticket.buy-ticket.submit') %></button>
                        </div>
                    </div>
                </div>

                
            
        </div>
    </div>
    <%- include("../../partials/script.ejs") %>
    <script src="/js/ticket/buy-ticket.js"></script>
</body>


</html>