<!DOCTYPE html>
<html lang="<%= lang %>">

  <%- include("../../partials/head.ejs") %>
  <body class="ticket-page">
    <%- include("../../partials/navbar.ejs") %>
    <div class="container-lg py-4">

      <!-- Title -->
      <h3 class="mb-3" style="color: #333 !important;"><%= t('ticket.myTicket.title') %></h3>

      <div class="my-ticket">
        <ul class="nav nav-pills mb-1 mt-2 gap-3 align-items-center"
          id="pills-tab" role="tablist">
          <li class="nav-item border-bottom-2" role="presentation">
            <button
              class="nav-link active rounded-5"
              id="pills-home-tab" data-bs-toggle="pill"
              data-bs-target="#pills-home" type="button"
              role="tab" aria-controls="pills-home"
              aria-selected="true"><%= t('ticket.myTicket.ownedTicket') %></button>
          </li>
          <li
            class="nav-item nav-item-request d-flex w-auto align-items-center gap-3"
            role="presentation">

            <!-- Tab Button -->
            <button class="nav-link rounded-5 text-nowrap"
              id="pills-profile-tab"
              data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile"
              aria-selected="false">
              <%= t('ticket.myTicket.reqTicket') %> <span id="notiUnreadCount"></span>
            </button>

            <!-- Dropdown Button -->

          </li>

        </ul>
        <div class="tab-content m-0" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home"
            role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
            <select name id="select-owned-ticket-status"
              class="form-select rounded-5 ps-3 w-auto my-3"
              style="background-color: #f3f4f6 !important;">
              <option value><%= t('ticket.myTicket.all') %></option>
              <option value="1"><%= t('ticket.myTicket.issue') %></option>
              <option value="2"><%= t('ticket.myTicket.used') %></option>
            </select>

            <div class="container placeholder-content"></div>
            <div class="accordion" id="owned-ticket-container">

            </div>
            <div class="pagination-container">
              <button class="pagination-button btn-icon"
                onclick="changePageOwned(currentPage - 1)"
                id="prevOwnedBtn" disabled><i
                  class="fa-solid fa-angle-left"></i></button>

              <div id="pagination-numbers-owned"></div>

              <button class="pagination-button btn-icon"
                onclick="changePageOwned(currentPage + 1)"
                id="nextOwnedBtn"><i
                  class="fa-solid fa-angle-right"></i></button>
            </div>

          </div>
          <div class="tab-pane fade" id="pills-profile"
            role="tabpanel" aria-labelledby="pills-profile-tab"
            tabindex="0">
            <select name id="select-request-ticket-status"
              class="form-select rounded-5 ps-3 w-auto my-3"
              style="background-color: #f3f4f6 !important;">
              <option value><%= t('ticket.myTicket.all') %></option>
              <option value="2"><%= t('ticket.myTicket.approve') %></option>
              <option value="1"><%= t('ticket.myTicket.pending') %></option>
              <option value="3"><%= t('ticket.myTicket.reject') %></option>
            </select>

            <div class="row">
              <!-- Accordion Start -->
              <div class="container placeholder-content"></div>
              <div class="accordion" id="requested-ticket-container">

              </div>
              <div class="pagination-container">
                <button class="pagination-button btn-icon"
                  onclick="changePageRequest(currentPage - 1)"
                  id="prevRequestBtn" disabled><i
                    class="fa-solid fa-angle-left"></i></button>

                <div id="pagination-numbers-request"></div>

                <button class="pagination-button btn-icon"
                  onclick="changePageRequest(currentPage + 1)"
                  id="nextRequestBtn"><i
                    class="fa-solid fa-angle-right"></i></button>
              </div>
              <!-- Accordion End -->

            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade modal-md" id="exampleModal" tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content rounded-5" style="color: #333;">
          <div class="modal-header border-bottom p-3">
            <h4 class="modal-title" style="color: #333;" id="exampleModalLabel">
              <%= t('ticket.myTicket.tts') %>
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body p-4" id="modal-body">


          </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalTicket" tabindex="-1"
      aria-labelledby="exampleModalLabelTicket"
      aria-hidden="true">
      <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content rounded-5" id="modal-content">
          
        </div>
      </div>
    </div>

    <%- include("../../partials/script.ejs") %>

    <script src="/js/ticket/ticket.js"></script>
    
<script>
     function downloadTicket() {
        let modalContent = document.getElementById("modal-content");

        html2canvas(modalContent).then(canvas => {
            let image = canvas.toDataURL("image/png");
            let link = document.createElement("a");
            link.href = image;
            link.download = "ticket.png";
            link.click();
        });
    }
</script>

  </body>
</html>
