<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
   <div class="container-lg py-4">

    <div
        class="row  g-5">

        <div class="col-12 col-md-4 ">
            <%- include('../../partials/profile-sidebar.ejs') %>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-4 rounded-3 border-0 shadow-light-sm">
              <h3 class=" mb-3"><%= t('profile.changeLanguage.title') %></h3>
          <form action="#">
            <!-- Email -->

            <!-- langauge -->
             <div class="">

                <p class="text-muted">Choose your preferred language from the options below. This will change the language across the entire application.</p>
                
                <label for
                class="form-label fw-medium mb-2"><%= t('profile.accManagement.language') %></label>
                <select class="form-select mb-3 border-brand-sm w-100 ps-3" style="height: 50px;" id="language">
                    <!-- <option hidden>-- Select Language --</option> -->
                    <option><%= t('profile.accManagement.eng') %></option>
                    <option><%= t('profile.accManagement.kh') %></option>
                </select>
             </div>
             <p class="text-muted">
                Your current language selection will be saved automatically.
             </p>
            <button type="submit" class="btn btn-brand w-100 mb-2"><%= t('profile.accManagement.save-change') %></button>

          </form>
            </div>
          
        </div>
    </div>
    

   </div>

  

    <%- include("../../partials/script.ejs")  %>
</body>
</html>
