<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
   <div class="container-lg py-4">

    <div
        class="row  g-5">

        <div class="col-12 col-md-4 ">
            <%- include('../../partials/profile-sidebar.ejs') %>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-4 rounded-3 border-0 shadow-light-sm">
              <h3 class=" mb-3"><%= t('profile.changeLanguage.title') %></h3>
          <form action="#">
            <!-- Email -->

            <!-- langauge -->
             <div class="">

                <p class="text-muted"><%= t('profile.changeLanguage.content1') %></p>
                
                <label for
                class="form-label fw-medium mb-2"><%= t('profile.accManagement.language') %></label>
                <select class="form-select mb-3 border-brand-sm w-100 ps-3" style="height: 50px;" id="language">
                    <!-- <option hidden>-- Select Language --</option> -->
                    <option value="en"><%= t('profile.accManagement.eng') %></option>
                    <option value="kh"><%= t('profile.accManagement.kh') %></option>
                </select>
             </div>
             <p class="text-muted">
                <%= t('profile.changeLanguage.content2') %>
             </p>
            <button type="button" id="change-lng-btn"class="btn btn-brand w-100 mb-2"><%= t('profile.accManagement.save-change') %></button>

          </form>
            </div>
          
        </div>
    </div>
    

   </div>

  

    <%- include("../../partials/script.ejs")  %>
    <script>
        let selectLang = document.getElementById("language")
        if(isEnglish){

            selectLang.querySelector("option[value='en']").setAttribute("selected", "")
        }else{
            selectLang.querySelector("option[value='kh']").setAttribute("selected", "")
        }

        selectLang.addEventListener("change", (e)=>{
            // window.location.href = `?lng=${e.target.value}`;
        })

        document.getElementById("change-lng-btn").onclick = ()=>{
            window.location.href = `?lng=${selectLang.value}`;
        }

    </script>
</body>
</html>
