<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
    <div class="container-lg p-md-5">
        <div class="row">
        <div class="col-12 col-md-4">
            <%- include("../../partials/profile-sidebar.ejs")  %>
        </div>
        <div class="col-12 col-md-8">
            <div class="card border-0 shadow-light-sm p-4 rounded-3">
                <a href="#"> <h4><i class="bi bi-caret-left-fill text-brand"></i>&nbsp;<%= t('profile.deleteAcc.title') %></h4></a>
            <form id="frm" class="mt-3">
                <p><%= t('profile.deleteAcc.content') %></p>
                <div class="mb-3">
                    <label for="" class="form-label fw-medium mb-2"><%= t('profile.deleteAcc.current-pw') %></label>
                <div class="input-field input-field-setting" id="input-field-current-password">
                    <i class="fas fa-lock "></i>
                    <input type="password" placeholder="<%= t('profile.deleteAcc.current-pw') %>"
                      id="current-password" />
                      <i class="fa-solid fa-eye"></i>
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                    id="invalid_feedback_current_password">
                    <i
                      class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2"><%= t('profile.deleteAcc.error-pw') %></div>
                  </div>
                </div>
                <button type="submit" class="btn btn-brand w-100" id="btnDeleteAccount"><%= t('profile.deleteAcc.title') %></button>


            </form>

            </div>

        </div>
    </div>
 
    </div>
    
    <%- include("../../partials/script.ejs")  %>

    <script src="/js/profile/delete-account.js"></script>
</body>
</html>