<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>
    <body>
      <%- include("../../partials/navbar.ejs")  %>
        <div class="container-lg py-5">

            <div class="row g-5">
                <!-- Sidebar Navigation -->
                <div class="col-12 col-md-4">
                    <%- include('../../partials/profile-sidebar.ejs') %>
                </div>

                <!-- Main Content -->
                <div class="col-12 col-md-8">
                    <div class="card border-0 shadow-light-sm p-4 rounded-4">
                      <h4 class="mb-3"><%= t('profile.org-view.title') %></h4>
                    <div class="d-flex align-items-center mb-4">
                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                        <p class="p-0 m-0"><span class="fw-medium"><%= t('profile.org-view.tip') %>:</span>
                          <%= t('profile.org-view.tip-info') %></p>
                    </div>

                    <div>
                        <a href="/profile/organizer" class="btn btn-brand w-100 d-none"
                            id="btnUpdateToOrganizer"
                            >Upgrade to
                            Organizer</a>
                    </div>

                    <form id="frmOrganizerRequest" action="#">
                     <div class="d-flex mb-3 align-items-end justify-content-between">
                      <div class="">
                        <label for="status" class="form-label fw-medium mb-2"><%= t('profile.org-view.status') %></label>
                        <div>
                            <span id="status-badge" class="badge"></span>
                        </div>
                    </div>
                   <div class="">
                    <a href="/profile/organizer" type="button" class="btn btn-brand fw-medium d-none" id="btnRequestAgain"  style="height: auto !important;">
                      + Request Upgrade Again
                    </a>
                   </div>
                     </div>
<div id="rejection-reason-wrapper" class="mt-2" style="display: none;">
  <label class="form-label fw-medium mb-2"><%= t('profile.org-view.rej-reason') %></label>
  <div class="alert alert-danger" id="rejection-reason"></div>
</div>
                        <!-- Organization Name -->
                        <div class="mb-3">
                            <label for="organizationName"
                                class="form-label fw-medium mb-2"><%= t('profile.organizer.org-name') %></label>
                            <div class="input-field input-field-setting " id="input-field-organization-name">
                                <i class="fas fa-user"></i>
                                <input type="text" id="organization-name"
                                    placeholder="<%= t('profile.organizer.enter-orgname') %>" />
                            </div>
                            <div
                            class="invalid_feedback text-danger d-flex align-items-center mb-2"
                            id="invalid_feedback_organization_name">
                            <i
                              class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                            <div class="ms-2">Password must be the same as your new password.</div>
                          </div>
                        </div>

                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2"><%= t('profile.organizer.bio') %></label>

                            <div class="description mb-3 overflow-hidden" style="border: 1px solid var(--c-brand);border-radius: 8px;">
                                <div id="editor" class="bg-white"
                                    style="min-height: 100px;"></div>
                            </div>
                            <div
                            class="invalid_feedback text-danger d-flex align-items-center mb-2"
                            id="invalid_feedback_bio">
                            <i
                              class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                            <div class="ms-2">Password must be the same as your new password.</div>
                          </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2"><%= t('profile.organizer.phone') %></label>
                            <div class="input-field input-field-setting " id="input-field-phone">
                                <i class="fas fa-phone"></i>
                                <input type="tel" id="phone"
                                    placeholder="<%= t('profile.organizer.enter-phone') %>" />
                            </div>
                            <div
                            class="invalid_feedback text-danger d-flex align-items-center mb-2"
                            id="invalid_feedback_phone">
                            <i
                              class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                            <div class="ms-2">Password must be the same as your new password.</div>
                          </div>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2"><%= t('profile.organizer.email') %></label>
                            <div class="input-field input-field-setting "  id="input-field-email">
                                <i class="fas fa-envelope"></i>
                                <input type="email" id="email"
                                    placeholder="<%= t('profile.organizer.enter-email') %>" />
                            </div>
                            <div
                            class="invalid_feedback text-danger d-flex align-items-center mb-2"
                            id="invalid_feedback_email">
                            <i
                              class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                            <div class="ms-2">Password must be the same as your new password.</div>
                          </div>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2"><%= t('profile.organizer.location') %></label>
                            <div class="input-field input-field-setting "  id="input-field-location">
                                <i class="fa-solid fa-location-dot"></i>
                                <input type="text" id="location"
                                    placeholder="<%= t('profile.organizer.enter-location') %>" />

                            </div>
                            <div
                            class="invalid_feedback text-danger d-flex align-items-center mb-2"
                            id="invalid_feedback_location">
                            <i
                              class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                            <div class="ms-2">Password must be the same as your new password.</div>
                          </div>
                        </div>
                        <!-- Social Media Link -->
                        <div class>
                            <label for
                                class="form-label fw-medium mb-2"><%= t('profile.organizer.social') %></label>
                            <div class="mb-3">
                                <div
                                    class="input-field input-field-setting "  id="input-field-facebook">
                                    <i class="fa-brands fa-square-facebook"></i>
                                    <input type="text" id="facebook"
                                        placeholder="Facebook"
                                         />
                                </div>
                                <div
                                class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                id="invalid_feedback_facebook">
                                <i
                                  class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2">Password must be the same as your new password.</div>
                              </div>
                            </div>
                            <div class="mb-3">
                                <div
                                    class="input-field input-field-setting ">
                                    <i class="fa-brands fa-telegram"></i>
                                    <input type="text" id="telegram"
                                        placeholder="Telegram" />
                                </div>
                                <div
                                class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                id="invalid_feedback_confirm_new_password">
                                <i
                                  class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2">Password must be the same as your new password.</div>
                              </div>
                            </div>
                            <div class="mb-3">
                                <div
                                    class="input-field input-field-setting ">
                                    <i class="fa-brands fa-tiktok"></i>
                                    <input type="text" id="tiktok"
                                        placeholder="Tiktok" />
                                </div>
                                <div
                                class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                id="invalid_feedback_confirm_new_password">
                                <i
                                  class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2">Password must be the same as your new password.</div>
                              </div>
                            </div>
                            <div class="mb-3">
                                <div
                                    class="input-field input-field-setting ">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <input type="text" id="linkin"
                                        placeholder="Linkedin" />
                                </div>
                                <div
                                class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                id="invalid_feedback_confirm_new_password">
                                <i
                                  class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2">Password must be the same as your new password.</div>
                              </div>
                            </div>

                        </div>
                        <!-- Submit Button -->
                        <!-- <button type="submit"
                            class="btn btn-brand w-100" id="btnSubmit">Submit</button> -->
                    </form>
                    </div>

                </div>
            </div>
        </div>

        <%- include("../../partials/script.ejs") %>
        <script>
                
    </script>
    <script src="/js/profile/update-to-organizer-view.js"></script>
    </body>
</html>
