<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>
    <body style="background-color: #f8f9fa;">
        <%- include("../../partials/navbar.ejs") %>
        <div class="container-lg py-4">


            <div
                class="row  g-4">

                <div class="col-12 col-lg-4 ">
                    <%- include('../../partials/profile-sidebar.ejs') %>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card border-0 shadow-light-sm p-4 rounded-3">
                        <h3 class="text-center mb-4"><%= t('profile.profile-info.title') %></h3>
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type="file" id="imageUpload"
                                accept=".png, .jpg, .jpeg">
                            <!-- for="imageUpload" -->
                            <label
                                class="bg-brand text-white d-flex align-items-center justify-content-center "
                                data-bs-toggle="dropdown"
                                aria-expanded="false" id="btnChangeProfile"><i
                                    class="fa-solid fa-pen" ></i></label>
                            <ul class="dropdown-menu"
                                id="changeProfileDropdown">
                                <!-- Dropdown menu links -->
                                <li><button onclick="document.getElementById('imageUpload').click()" class="dropdown-item"><%= t('profile.profile-info.changePf') %></button></li>
                                <li><button id="deleteImage" class="dropdown-item"><%= t('profile.profile-info.removePf') %></button></li>
                            </ul>
                        </div>
                        <div
                            class="avatar-preview rounded-circle position-relative">
                            <img id="imagePreview"
                                src="/uploads/default.jpg"
                                alt="Avatar Preview">
                        </div>
                    </div>
                    <h5 class="text-center mt-3"><%= t('profile.profile-info.pfPic') %></h5>
                    <p class="text-center text-muted mt-3">PNG, JPG, Max Size:
                        3MB</p>
                    <form action="#" class id="frm"
                        enctype="multipart/form-data">
                        <!-- English and Khmer Username -->
                        <div class="row " class>
                            <div class="col-12 col-xl-6">
                                <!-- Khmer Username -->
                                <div class="mb-3">
                                    <label for
                                    class="form-label fw-medium mb-2"><%= t('profile.profile-info.engName') %></label>
                                <div class="input-field input-field-setting"
                                    id="input-field-eng-name">
                                    <i class="fas fa-user"></i>
                                    <input type="text"
                                        placeholder="<%= t('profile.profile-info.engName') %>"
                                        id="eng-name" class
                                        autofocus />
                                </div>
                                <div
                                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                    id="invalid_feedback_eng_name">
                                    <i
                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                    <div class="ms-2">Invalid email.</div>
                                </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <!-- English Username -->
                                <div class="mb-3">
                                    <label for
                                    class="form-label fw-medium mb-2"><%= t('profile.profile-info.khName') %></label>
                                <div class="input-field input-field-setting"
                                    id="input-field-kh-name">
                                    <i class="fas fa-user"></i>
                                    <input type="text"
                                        placeholder="<%= t('profile.profile-info.khName') %>"
                                        id="kh-name" class
                                        autofocus />
                                </div>
                                <div
                                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                    id="invalid_feedback_kh_name">
                                    <i
                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                    <div class="ms-2">Invalid email.</div>
                                </div>
                                </div>
                            </div>

                        </div>
                        <div class>
                            <div class="mb-3">
                                <label for
                                class="form-label fw-medium mb-2"><%= t('profile.profile-info.email') %></label>
                            <div class="input-field input-field-setting"
                                id="input-field-email">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="<%= t('profile.profile-info.email') %>"
                                    id="email" class
                                    autofocus />
                            </div>
                            <div
                                class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                id="invalid_feedback_email">
                                <i
                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2">Invalid email.</div>
                            </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2"><%= t('profile.profile-info.phone') %></label>
                            <div class="input-field input-field-setting"
                                id="input-field-phone">
                                <i class="fas fa-phone"></i>
                                <input type="text" placeholder="<%= t('profile.profile-info.phone') %>"
                                    id="phone" class=""
                                    autofocus />
                            </div>
                            <div
                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                id="invalid_feedback_phone">
                                <i
                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2 ">Invalid email.</div>
                            </div>
                        </div>


                        <!-- Date of Birth -->
                        <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label for
                                                                class="form-label fw-medium mb-2"><%= t('profile.profile-info.dob') %></label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-dob">
                                                                <i class="fa-solid fa-calendar-days" style="margin-bottom: 1px;"></i>
                                                                <input type="date"
                                                                    id="dob" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_dob">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for
                            class="form-label fw-medium mb-2"><%= t('profile.profile-info.address') %></label>
                        <div class="input-field input-field-setting"
                            id="input-field-address">
                            <i class="fa-solid fa-location-dot"></i>
                            <input type="text" placeholder="<%= t('profile.profile-info.address') %>"
                                id="address" class=""
                                autofocus />
                        </div>
                        <div
                            class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                            id="invalid_feedback_address">
                            <i
                                class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                            <div class="ms-2 ">Invalid email.</div>
                        </div>
                    </div>

                        <!-- Gender -->
                        <div class="mb-3">
                            <label for
                            class="form-label fw-medium mb-2 d-block"><%= t('profile.profile-info.gender') %></label>
                            <div id="input-container" class="">
                                <input class="form-check-input" name="gender" type="radio" value="1" id="male"> 
                                <label class="form-check-label radio-lb">&nbsp;<%= t('profile.profile-info.male') %></label> &nbsp;
                                <input class="form-check-input" name="gender" type="radio" value="2" id="female" class=""> 
                                <label class="form-check-label radio-lb">&nbsp;<%= t('profile.profile-info.female') %></label> 
                            </div>
                        </div>

                        

                        <button type="submit"
                            class="btn btn-brand w-100 mt-4"
                            id="btnSaveChange"><%= t('profile.profile-info.saveChange') %></button>
                    </form>

                    </div>
                </div>
            </div>

        </div>

        <!-- Modal  -->
        <!-- Bootstrap Modal for Cropping -->
        <div class="modal fade modal-md"
            id="cropImageModal"
            tabindex="-1">
            <div class="modal-dialog modal-fullscreen-md-down modal-dialog-centered" aria-hidden="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= t('profile.profile-info.changePf') %></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    <div
                        class="modal-body d-flex align-items-center justify-content-center">
                        <img id="cropperImage" src alt="Image to crop"
                            style="max-width: 100% !important; display: block;"
                            class>
                    </div>
                    <div class="modal-footer ">
                        <div class="row g-3 w-100">

                            <div class="col-12">
    
                                <button type="button" class="btn btn-brand w-100"
                                    id="cropImageBtn"><%= t('profile.profile-info.save') %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../../partials/script.ejs") %>
        <script src="/js/profile/profile-info.js"></script>

        <script>
            
        </script>

    </body>
</html>
