<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
   <div class="container-lg py-4">

    <div
        class="row  g-5">

        <div class="col-12 col-md-4 ">
            <%- include('../../partials/profile-sidebar.ejs') %>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-4 rounded-3 border-0 shadow-light-sm">
              <h3 class="text-center mb-4"><%= t('static.policy.title') %></h3>
              <div class="">
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-1') %></h5>
                <p><%= t('static.policy.h2-p1') %>:</p>
                <div class="ps-3">
                    <ul class="">
                        <li><strong><%= t('static.policy.contentI-1') %> :</strong> <%= t('static.policy.contentI-2') %></li>
                        <li><strong><%= t('static.policy.contentI-3') %>:</strong> <%= t('static.policy.contentI-4') %></li>
                    </ul>
                </div>
                </div>
        
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-2') %></h5>
                <p><%= t('static.policy.h2-p2') %> :</p>
                <div class="ps-3">
                    <ul class="">
                        <li><%= t('static.policy.contentII-1') %></li>
                        <li><%= t('static.policy.contentII-2') %></li>
                        <li><%= t('static.policy.contentII-3') %></li>
                        <li><%= t('static.policy.contentII-4') %></li>
                    </ul>
                </div>
                </div>
        
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-3') %></h5>
                    <p><%= t('static.policy.h2-p3') %></p>
        
                </div>
               
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-4') %></h5>
                    <p><%= t('static.policy.h2-p4') %></p>
            
                </div>
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-5') %></h5>
                    <p><%= t('static.policy.h2-p5') %></p>
                </div>
        
               <div class="mb-3">
                <h5><%= t('static.policy.h2-6') %></h5>
                <p><%= t('static.policy.h2-p6') %> :</p>
                <div class="ps-3">
                    <ul class="">
                        <li><%= t('static.policy.contentIV-1') %></li>
                        <li><%= t('static.policy.contentIV-2') %></li>
                        <li><%= t('static.policy.contentIV-3') %></li>
                        <li><%= t('static.policy.contentIV-4') %></li>
                    </ul>
                </div>
                <p><%= t('static.policy.h2-p6-1') %> pruttika@gmail.com.</p>
               </div>
        
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-7') %></h5>
                    <p><%= t('static.policy.h2-p7') %></p>
                </div>
        
                <div class="mb-3">
                    <h5><%= t('static.policy.h2-8') %></h5>
                <p><%= t('static.policy.h2-p8') %>:</p>
                <p>pruttika@gmail.com</p>
                </div>
            </div>
            </div>
          
        </div>
    </div>
    

   </div>

    <%- include("../../partials/script.ejs")  %>
</body>
</html>
