<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
   <div class="container-lg py-4">

    <div
        class="row  g-5">

        <div class="col-12 col-md-4 ">
            <%- include('../../partials/profile-sidebar.ejs') %>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-4 rounded-3 border-0 shadow-light-sm">
              <h3 class="text-center mb-4"><%= t('static.termOfService.title') %></h3>
              <div class="">
                <h5 class="mb-4"><%= t('static.termOfService.h2-1') %></h5>
                <p><%= t('static.termOfService.h2-p1') %></p>
        
                <h5 class="mb-4"><%= t('static.termOfService.h2-2') %></h5>
                <p><%= t('static.termOfService.h2-p2') %></p>
        
                <h5 class="mb-4"><%= t('static.termOfService.h2-3') %></h5>
                <ul class="ms-4 ps-2 mb-4">
                    <li><strong><%= t('static.termOfService.content3-ls1') %> :</strong> <%= t('static.termOfService.content3-l1') %></li>
                    <li><strong><%= t('static.termOfService.content3-ls2') %> :</strong> <%= t('static.termOfService.content3-l2') %></li>
                    <li><strong><%= t('static.termOfService.content3-ls3') %> :</strong> <%= t('static.termOfService.content3-l3') %></li>
                </ul>
                <!-- <p>
                    Account Security: Users are responsible for maintaining the confidentiality of their account credentials.
                    PRUTTIKA cannot be held liable for unauthorized access due to user negligence.
                    Accurate Information: All information provided during registration or event creation must be accurate and
                    up-to-date. PRUTTIKA reserves the right to suspend accounts with false or incomplete information.
                    Compliance: Users must comply with all applicable local, state, and international laws and regulations while
                    using PRUTTIKA.
                </p> -->
        
                <h5 class="mb-4"><%= t('static.termOfService.h2-4') %></h5>
                <ul class="ms-4 ps-2 mb-4">
                    <li><strong><%= t('static.termOfService.content4-ls1') %> :</strong> <%= t('static.termOfService.content4-l1') %></li>
                    <li><strong><%= t('static.termOfService.content4-ls2') %> :</strong> <%= t('static.termOfService.content4-l2') %></li>
                </ul>
                <!-- <p>
                    Platform Ownership: PRUTTIKA owns all rights to the platform’s design, code, and branding. Unauthorized
                    copying or distribution of platform elements is prohibited.
                    User Content: Event details, images, and other user-submitted content remain the property of the user. By
                    submitting content to PRUTTIKA, you grant us a non-exclusive, royalty-free license to display your content
                    for promotional or operational purposes.
                </p> -->
        
                <h5 class="mb-4"><%= t('static.termOfService.h2-5') %></h5>
                <p><%= t('static.termOfService.h2-p5') %></p>
        
                <h5 class="mb-4"><%= t('static.termOfService.h2-6') %></h5>
                <p><%= t('static.termOfService.h2-p6') %></p>

                <h5 class="mb-4"><%= t('static.termOfService.h2-7') %></h5>
                <ul class="ms-4 ps-2 mb-4">
                    <li><strong><%= t('static.termOfService.content7-ls1') %> :</strong> <%= t('static.termOfService.content7-l1') %></li>
                    <li><strong><%= t('static.termOfService.content7-ls2') %> :</strong> <%= t('static.termOfService.content7-l2') %></li>
                    <li><strong><%= t('static.termOfService.content7-ls3') %> :</strong> <%= t('static.termOfService.content7-l3') %></li>
                </ul>
                <!-- <p>
                    Service Fees: PRUTTIKA may charge a service fee for certain features (e.g., ticketing). Details of fees will
                    be displayed clearly during the transaction process.
                    Refunds: PRUTTIKA is not responsible for refunds related to events. Refunds must be handled by the event
                    organizer based on their refund policy.
                    Disputes: In case of disputes, PRUTTIKA acts only as an intermediary and does not guarantee resolution.
                </p> -->
        
                <h5 class="mb-4"><%= t('static.termOfService.h2-8') %></h5>
                <p>
                    <%= t('static.termOfService.h2-p8') %> <a
                        href="mailto:support@example.com">pruttika@gmail.com</a>.
                </p>
        
                <!-- Back to Top Button -->
                <div class="text-center mt-5">
                    <a href="#top" class="btn btn-brand"><%= t('static.termOfService.backToTop') %></a>
                </div>
            </div>
            </div>
          
        </div>
    </div>
    

   </div>

  

    <%- include("../../partials/script.ejs")  %>
</body>
</html>
