<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
   <div class="container-lg py-4">

    <div
        class="row  g-5">

        <div class="col-12 col-md-4 ">
            <%- include('../../partials/profile-sidebar.ejs') %>
        </div>
        <div class="col-12 col-md-8">
            <div class="card p-4 rounded-3 border-0 shadow-light-sm">
              <h3 class="text-center mb-4">Private Policy</h3>
              <div class="">
                <div class="mb-3">
                    <h5>1. Information We Collect</h5>
                <p>We collect two types of information:</p>
                <div class="ps-3">
                    <ul class="">
                        <li><strong>Personal Information:</strong> When you visit our website, subscribe to our newsletter, or interact with our services, we may collect personal information such as your name, email address, phone number, and other details you provide.</li>
                        <li><strong>Non-Personal Information:</strong> We may collect non-personal information such as your browser type, IP address, and usage data through cookies and other tracking technologies.</li>
                    </ul>
                </div>
                </div>
        
                <div class="mb-3">
                    <h5>2. How We Use Your Information</h5>
                <p>We may use the information we collect for the following purposes:</p>
                <div class="ps-3">
                    <ul class="">
                        <li>To provide, operate, and maintain our website and services.</li>
                        <li>To improve, personalize, and expand our website's features and content.</li>
                        <li>To communicate with you, respond to inquiries, and send updates.</li>
                        <li>To comply with legal obligations.</li>
                    </ul>
                </div>
                </div>
        
                <div class="mb-3">
                    <h5>3. Data Storage and Security</h5>
                <p>We use industry-standard security measures to protect your personal information. However, no method of data transmission or storage can be guaranteed 100% secure, and we cannot ensure the absolute security of your data.</p>
        
                </div>
               
                <div class="mb-3">
                    <h5>4. Cookies and Tracking Technologies</h5>
                    <p>We use cookies to enhance your browsing experience and gather non-personal information about website usage. You can adjust your browser settings to refuse cookies or notify you when a cookie is being sent.</p>
            
                </div>
                <div class="mb-3">
                    <h5>5. Third-Party Services</h5>
                <p>We may share your personal information with third-party service providers who assist us in operating our website and delivering services. These providers are obligated to keep your information confidential and use it solely for the purposes for which it was provided.</p>
                </div>
        
               <div class="mb-3">
                <h5>6. Your Rights</h5>
                <p>Depending on your location, you may have the right to:</p>
                <div class="ps-3">
                    <ul class="">
                        <li>Access and request a copy of your personal information.</li>
                        <li>Correct any inaccuracies in your personal data.</li>
                        <li>Request the deletion of your personal information.</li>
                        <li>Opt-out of marketing communications.</li>
                    </ul>
                </div>
                <p>If you would like to exercise these rights, please contact us at [Your Contact Information].</p>
               </div>
        
                <div class="mb-3">
                    <h5>7. Changes to This Privacy Policy</h5>
                <p>We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the "Effective Date" will be updated. We encourage you to review this Privacy Policy periodically.</p>
                </div>
        
                <div class="mb-3">
                    <h5>8. Contact Us</h5>
                <p>If you have any questions or concerns about this Privacy Policy, please contact us at:</p>
                <p>[Your Contact Information]</p>
                </div>
            </div>
            </div>
          
        </div>
    </div>
    

   </div>

   <%- include("../../partials/footer.ejs") %>

    <%- include("../../partials/script.ejs")  %>
</body>
</html>
