<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>

    <body class="bg-white-stain">
        <%- include("../../partials/manage-event-header.ejs") %>

        <main>
            <div class>
                <div class="d-flex">
                    <%- include("../../partials/manage-event-sidebar.ejs") %>

                    <section class="p-4 w-100">
                

                        <div id="content" class="px-md-3">
                            <div class="d-flex align-items-center">
                            <button onclick="history.back()" type="button" class="btn fw-medium border-0 ps-0 d-flex align-items-center mb-2">
                                <i class="fa-solid fa-angle-left fs-6 m-0 p-0 "></i>
                                <span class="m-0 ps-2"><a><%= t('event.backToEvent') %></a></span>
                            </button>
                        </div>
                        <div class="card mb-4 p-4 border-0 shadow-light-sm">
                            <h1 class="h3 mb-2"><%= t('event.checkin-ticket.checkList') %></h1>
                            <h2
                                class="h5 text-muted mb-2" id="title"></h2>
                            
                            <div class="d-flex align-items-center">
                                <small class="me-2 text-brand"><i data-lucide="calendar-days" width="1rem"></i></small>
                                <span id="ev-date">Thu, 5 December, 2024</span>
                            </div>
                        </div>

                            </div>
                            <!-- <h5 class="mt-5 mb-3">Ticket Request</h5> -->
                            <div class="row g-4 px-md-3">
                                <div class="text-center col-12 col-lg-12 ">
                                    <div class=" card border-0">
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-md-9 col-lg-5">
                                                <div class="scanner-container" style="border: 0 !important;">
                                                    <div class>
                                                        <div id="reader"
                                                            class="d-flex flex-column align-items-center justify-content-center px-4 py-3">
            
                                                        </div>
                                                        <!-- <div id="result-t"
                                                            class="mt-3 text-success"></div> -->
                                                        <!-- <button class="btn btn-scan">Scan Again</button> -->
                                                    </div>
                                                </div>
                                            </div>
                                           </div>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="card p-4 border shadow-light-sm rounded-3">
                                        <div
                                            class="d-flex justify-content-between">

                                                <h4><%= t('event.checkin-ticket.CheckedIn') %></h4>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div
                                                class=" d-flex justify-content-end">
                                                <input type="text"
                                                    id="searchInput"
                                                    class="form-control mb-3 "
                                                    placeholder="<%= t('event.checkin-ticket.searchBy') %>...">
                                            </div>
                                                </div>
                                            </div>
                                            <div class="table-container table-responsive">
                                                <table class="custom-table w-100"
                                                    id="ticketTable">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th><%= t('event.checkin-ticket.avatar') %></th>
                                                            <th><%= t('event.checkin-ticket.name') %></th>
                                                            <th><%= t('event.checkin-ticket.type') %></th>
                                                            <th><%= t('event.checkin-ticket.email') %></th>
                                                            <th><%= t('event.checkin-ticket.CheckDate') %></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="request-tbody">
                                                       
                                                    </tbody>
                                                </table>
                                            </div>

                                    </div>
                                        
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </main>

        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel"><%= t('event.checkin-ticket.checkin-ticket') %></h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class>
                            <div class="input-field input-field-setting"
                                id="input-field-qrcode">
                                <i class="fas fa-lock"></i>
                                <input type="text"
                                    placeholder="<%= t('event.checkin-ticket.enter-token') %>"
                                    id="qrcode" autofocus />
                            </div>
                            <div
                                class="invalid_feedback text-danger d-flex align-items-center"
                                id="invalid_feedback_qrcode">
                                <i
                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2"><%= t('event.checkin-ticket.requiredToken') %></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0 pt-0">

                        <button type="button"
                            class="btn btn-brand w-100"
                            id="btn-checked-in"><%= t('event.checkin-ticket.checkin') %></button>
                    </div>

                </div>
            </div>
            <div class="height-mobile"></div>


            <%- include("../../partials/script.ejs") %>

            <script src="/js/utils/organizer-sidebar.js"></script>

            <script src="/js/events/check-in-ticket-list.js">

</script>

        </body>
    </html>