<!DOCTYPE html>
<html lang="<%= lang %>">

    <%- include("../../partials/head.ejs") %>

    <body class="bg-white-stain">
        <%- include("../../partials/manage-event-header.ejs") %>

        <main class="bg-white">
            <div class>
                <div class="d-flex">
                    <%- include("../../partials/manage-event-sidebar.ejs") %>

                    <section class="p-4 w-100">
                        <div class="mb-3">
                            <h2 style="color: #333;"><%= t('event.event-checkin.checkin-ticket') %></h2>
                        </div>
                        <ul class="nav nav-underline gap-3" id="myTab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="all-tab"
                                    data-bs-toggle="tab" data-bs-target="#all"
                                    type="button" role="tab" aria-controls="all"
                                    aria-selected="true"
                                    style="color: #333;"><%= t('event.All') %></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="upcoming-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#upcoming" type="button"
                                    role="tab" aria-controls="upcoming"
                                    aria-selected="false"
                                    style="color: #333;"><%= t('event.Upcoming') %></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="showing-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#showing" type="button"
                                    role="tab" aria-controls="showing"
                                    aria-selected="false"
                                    style="color: #333;"><%= t('event.Showing') %></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="past-tab"
                                    data-bs-toggle="tab" data-bs-target="#past"
                                    type="button" role="tab"
                                    aria-controls="past" aria-selected="false"
                                    style="color: #333;"><%= t('event.Past') %></button>
                            </li>
                        </ul>
                        

                        <div class="tab-content bg-transparent"
                            id="myTabContent">
                            <div class="tab-pane fade show active" id="all"
                                role="tabpanel" aria-labelledby="all-tab">
                                <!-- All Events Content Here -->
                                <div
                                class="row g-3 align-items-center my-2 justify-content-between">
                                <div class="col-auto">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <select
                                                class="form-select border-brand-sm shadow-none bg-transparent"
                                                id="event-sort-filter"
                                                aria-label="Default select example">
                                                <option value
                                                    selected><%= t('event.All') %></option>
                                                <option
                                                    value="eng_name"><%= t('event.eventTitle') %></option>
                                                <option
                                                    value="created_at"><%= t('event.lastestPost') %></option>
                                            </select>
                                        </div>

                                        <div class="col-auto">
                                            <div class="input-group">
                                                <input type="text"
                                                    class="form-control border-brand-sm shadow-none ps-3 bg-transparent"
                                                    placeholder="<%= t('event.search') %>"
                                                    id="searchEventInput">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                                

                                <div class="my-4">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-borderless align-middle bg-transparent">
                                            <thead class="border-bottom">
                                                <tr>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Event') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Status') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.event-checkin.CheckedIn') %></th>
                                                </tr>
                                            </thead>
                                            <tbody id="event-tobody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Pagination -->
                        <div class="pagination-container">
                            <button class="pagination-button btn-icon"
                                onclick="changePageAll(currentPage - 1)"
                                id="prevBtn" disabled><i
                                    class="fa-solid fa-angle-left"></i></button>

                            <div id="pagination-numbers-all"></div>

                            <button class="pagination-button btn-icon"
                                onclick="changePageAll(currentPage + 1)"
                                id="nextBtn"><i
                                    class="fa-solid fa-angle-right"></i></button>
                        </div>

                            </div>
                            <div class="tab-pane fade" id="upcoming"
                                role="tabpanel" aria-labelledby="upcoming-tab">
                                <div
                                class="row g-3 align-items-center my-2 justify-content-between">
                                <div class="col-auto">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <select
                                                class="form-select border-brand-sm shadow-none bg-transparent"
                                                id="upcoming-event-sort-filter"
                                                aria-label="Default select example">
                                                <option value
                                                    selected><%= t('event.All') %></option>
                                                <option
                                                    value="eng_name"><%= t('event.eventTitle') %></option>
                                                <option
                                                    value="created_at"><%= t('event.lastestPost') %></option>
                                            </select>
                                        </div>

                                        <div class="col-auto">
                                            <div class="input-group">
                                                <input type="text"
                                                    class="form-control border-brand-sm shadow-none ps-3 bg-transparent"
                                                    placeholder="<%= t('event.search') %>"
                                                    id="upcoming-searchEventInput">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                                <!-- Upcoming Events Content Here -->
                                <div class="my-4">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-borderless align-middle bg-transparent">
                                            <thead class="border-bottom">
                                                <tr>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Event') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Status') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.event-checkin.CheckedIn') %></th>
                                                </tr>
                                            </thead>
                                            <tbody id="upcoming-event-tbody">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Pagination -->
                        <div class="pagination-container">
                            <button class="pagination-button btn-icon"
                                onclick="changePageUpcoming(currentPage - 1)"
                                id="prevUpcomingBtn" disabled><i
                                    class="fa-solid fa-angle-left"></i></button>

                            <div id="pagination-numbers-upcoming"></div>

                            <button class="pagination-button btn-icon"
                                onclick="changePageUpcoming(currentPage + 1)"
                                id="nextUpcomingBtn"><i
                                    class="fa-solid fa-angle-right"></i></button>
                        </div>
                            </div>
                            <div class="tab-pane fade" id="showing"
                                role="tabpanel" aria-labelledby="showing-tab">
                                <div
                                class="row g-3 align-items-center my-2 justify-content-between">
                                <div class="col-auto">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <select
                                                class="form-select border-brand-sm shadow-none bg-transparent"
                                                id="showing-event-sort-filter"
                                                aria-label="Default select example">
                                                <option value
                                                    selected><%= t('event.All') %></option>
                                                <option
                                                    value="eng_name"><%= t('event.eventTitle') %></option>
                                                <option
                                                    value="created_at"><%= t('event.lastestPost') %></option>
                                            </select>
                                        </div>

                                        <div class="col-auto">
                                            <div class="input-group">
                                                <input type="text"
                                                    class="form-control border-brand-sm shadow-none ps-3 bg-transparent"
                                                    placeholder="<%= t('event.search') %>"
                                                    id="showing-searchEventInput">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                                <!-- Showing Events Content Here -->
                                <div class="my-4">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-borderless align-middle bg-transparent">
                                            <thead class="border-bottom">
                                                <tr>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Event') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Status') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.event-checkin.CheckedIn') %></th>
                                                </tr>
                                            </thead>
                                            <tbody id="showing-event-tbody">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Pagination -->
                        <div class="pagination-container">
                            <button class="pagination-button btn-icon"
                                onclick="changePageShowing(currentPage - 1)"
                                id="prevShowingBtn" disabled><i
                                    class="fa-solid fa-angle-left"></i></button>

                            <div id="pagination-numbers-showing"></div>

                            <button class="pagination-button btn-icon"
                                onclick="changePageShowing(currentPage + 1)"
                                id="nextShowingBtn"><i
                                    class="fa-solid fa-angle-right"></i></button>
                        </div>
                            </div>
                            <div class="tab-pane fade" id="past" role="tabpanel"
                                aria-labelledby="past-tab">
                                <div
                                class="row g-3 align-items-center my-2 justify-content-between">
                                <div class="col-auto">
                                    <div class="row g-3">
                                        <div class="col-auto">
                                            <select
                                                class="form-select border-brand-sm shadow-none bg-transparent"
                                                id="past-event-sort-filter"
                                                aria-label="Default select example">
                                                <option value
                                                    selected><%= t('event.All') %></option>
                                                <option
                                                    value="eng_name"><%= t('event.eventTitle') %></option>
                                                <option
                                                    value="created_at"><%= t('event.lastestPost') %></option>
                                            </select>
                                        </div>

                                        <div class="col-auto">
                                            <div class="input-group">
                                                <input type="text"
                                                    class="form-control border-brand-sm shadow-none ps-3 bg-transparent"
                                                    placeholder="<%= t('event.search') %>"
                                                    id="past-searchEventInput" style="width: 400px !important;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                                <!-- Past Events Content Here -->
                                <div class="my-4">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-borderless align-middle bg-transparent">
                                            <thead class="border-bottom">
                                                <tr>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Event') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.Status') %></th>
                                                    <th scope="col"
                                                        style="color: #333;"
                                                        class="fw-semibold"><%= t('event.event-checkin.CheckedIn') %></th>
                                                </tr>
                                            </thead>
                                            <tbody id="past-event-tbody">
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Pagination -->
                        <div class="pagination-container">
                            <button class="pagination-button btn-icon"
                                onclick="changePagePast(currentPage - 1)"
                                id="prevPastBtn" disabled><i
                                    class="fa-solid fa-angle-left"></i></button>

                            <div id="pagination-numbers-past"></div>

                            <button class="pagination-button btn-icon"
                                onclick="changePagePast(currentPage + 1)"
                                id="nextPastBtn"><i
                                    class="fa-solid fa-angle-right"></i></button>
                        </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </main>
        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel"><%= t('event.event-checkin.checkin-ticket') %></h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <div class="input-field input-field-setting"
                                id="input-field-qrcode">
                                <i class="fas fa-lock"></i>
                                <input type="text"
                                    placeholder="<%= t('event.checkin-ticket.enter-token') %>"
                                    id="qrcode" autofocus />
                            </div>
                            <div
                                class="invalid_feedback text-danger d-flex align-items-center"
                                id="invalid_feedback_qrcode">
                                <i
                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2"><%= t('event.checkin-ticket.requiredToken') %></div>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer border-0 pt-0">

                    <button type="button"
                        class="btn btn-brand w-100"
                        id="btn-checked-in"><%= t('event.checkin-ticket.checkin') %></button>
                </div>

            </div>
        </div>
        <div class="height-mobile"></div>

        <%- include("../../partials/script.ejs") %>
        <script src="/js/utils/organizer-sidebar.js"></script>
        <script src="/js/events/event-checkin.js"></script>
    </body>
</html>
