<!DOCTYPE html>
<html lang="<%= lang %>">
<%- include("../../partials/head.ejs") %>
<body class="bg-white-stain">
    <%- include("../../partials/manage-event-header.ejs") %>

    <main>
        <div class>
            <div class="d-flex">
                <%- include("../../partials/manage-event-sidebar.ejs")  %>

                <section class="p-4 w-100">




                    
                    <div class="px-md-3">
                        <div id="content">
                            <div class="d-flex align-items-center">
                                <button onclick="history.back()" type="button" class="btn fw-medium border-0 ps-0 d-flex align-items-center mb-2">
                                    <i class="fa-solid fa-angle-left fs-6 m-0 p-0 "></i>
                                    <span class="m-0 ps-2"><a><%= t('event.backToEvent') %></a></span>
                                </button>
                            </div>
                            <div class="card mb-4 p-4 border-0 shadow-light-sm">
                                <h1 class="h3 mb-2"><%= t('event.req-ticket.reqTicket-list') %></h1>
                                <h2
                                    class="h5 text-muted mb-2" id="title"></h2>
                                
                                <div class="d-flex align-items-center">
                                    <small class="me-2 text-brand"><i data-lucide="calendar-days" width="1rem"></i></small>
                                    <span id="ev-date"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card p-4 border-0 shadow-light-sm">
                            <h4 class=" mb-3"><%= t('event.req-ticket.ticket-req') %></h4>
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex gap-3">
                                <div class="">
                                    <!-- <label for="statusFilter" class="form-label">Filter by Status:</label> -->
                                    <select id="statusFilter" class="form-select mb-3">
                                        <option value=""><%= t('event.All') %></option>
                                        <option value="Approved"><%= t('event.Approved') %></option>
                                        <option value="Pending"><%= t('event.Pending') %></option>
                                        <option value="Rejected"><%= t('event.Rejected') %></option>
                                    </select>
                                </div>
                                <!-- <div class="">
                                    <label for="dateFilter" class="form-label">Filter by Date:</label>
                                    <input type="date" id="dateFilter" class="form-control mb-3">
                                </div> -->
                                
                                
                            </div>
                            <div class=" w-50 d-flex justify-content-end">
                                <input type="text" id="searchInput" class="form-control mb-3 w-75" placeholder="<%= t('event.searchByName') %>...">
                            </div>
                    
                    
                        </div>
                        <div class="table-responsive">
                            <table class="table" id="ticketTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"><%= t('event.req-ticket.Avatar') %></th>
                                        <th scope="col"><%= t('event.req-ticket.Name') %></th>
                                        <th scope="col"><%= t('event.req-ticket.Amount') %></th>
                                        <th scope="col"><%= t('event.price') %></th>
                                        <th scope="col"><%= t('event.req-ticket.Date') %></th>
                                        <th scope="col"><%= t('event.Status') %></th>
                                        <th scope="col"><%= t('event.req-ticket.Action') %></th>
                                    </tr>
                                </thead>
                                <tbody id="request-tbody">
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination -->
                        <div class="pagination-container">
                            <button class="pagination-button btn-icon"
                                onclick="changePage(currentPage - 1)"
                                id="prevBtn" disabled><i
                                    class="fa-solid fa-angle-left"></i></button>
    
                            <div id="pagination-numbers"></div>
    
                            <button class="pagination-button btn-icon"
                                onclick="changePage(currentPage + 1)"
                                id="nextBtn"><i
                                    class="fa-solid fa-angle-right"></i></button>
                        </div>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <div class="height-mobile"></div>


<%- include("../../partials/script.ejs") %>

<script src="/js/utils/organizer-sidebar.js"></script>



<script src="/js/events/request-ticket-list.js">

</script>

</body>
</html>