<!DOCTYPE html>
<html lang="<%= lang %>">


    <%- include("../../partials/head.ejs")  %>
   

<body class="bg-white-stain">
    <%- include("../../partials/manage-event-header.ejs")  %>

    <main>
        <div class>
            <div class="d-flex">
                <%- include("../../partials/manage-event-sidebar.ejs")  %>
                
                <section class="p-4 w-100">
                    <div class="d-flex align-items-center">
                        <button onclick="history.back()" type="button" class="btn fw-medium border-0 ps-0 d-flex align-items-center mb-2">
                            <i class="fa-solid fa-angle-left fs-6 m-0 p-0 "></i>
                            <span class="m-0 ps-2"><a><%= t('event.backToEvent') %></a></span>
                        </button>
                    </div>
                    <!-- FORMS -->
                    <div class="px-md-3">
                        <div class="col-12 me-0 card border-0 shadow-light-sm rounded-4 p-4">
                            <h3 class="mb-3"><%= t('event.create-event.update-title') %></h3>
                            <div class="progress" style="background-color: #ff169232;border-radius: 32px !important;">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-brand" role="progressbar" style="width: 0%"></div>
                            </div>
                            <p class="text-center pb-0" id="stepNumber"><%= t('event.create-event.Step-1-of-6') %></p>

                            <div id="qbox-container" class="w-100 mt-3">
                                <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
                                    <div id="steps-container">
                                        
                                        <!-- Event Thumbnail -->
                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                <h5><%= t('event.create-event.uploadThumbnailText') %></h5>
                                                <div class="form-display active upload-cover">
                                                    <img class="icon-img" src="../../assets/img/icon/plus.png" alt="">
                                                </div>
                                                <div class="main-form active upload-img-form">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-event.tip-thumbnail') %></p>
                                                    </div>
                                                    <div class="upload-section d-flex align-items-center rounded-3 justify-content-center p-5 flex-column"
                                                        id="thumbnail-upload-section">
                                                        <i id="imgIcon" class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                        <label id="imgInputBtn" for="fileUpload" class="btn-outline-pink d-flex align-items-center"><i
                                                                class="fa-regular fa-image fs-5 text-secondary me-1"></i> <%= t('event.create-event.uploadImg') %> </label>
                                                        <input class="d-none" id="fileUpload" accept=".jpg, .jpeg" type="file"></input>
                                                        <div class="d-flex">
                                                            <p id="fileName" class="text-secondary pt-3"><%= t('event.create-event.no-file') %></p>
                                                            <button id="btnRemoveImgFile" type="button"
                                                                class="ms-1 text-secondary bg-transparent border-0 fs-5 ">
                                                                <i class="fa-solid fa-circle-xmark"></i></button>
                                                        </div>
                                                        <img id="imageDisplay" src="" class="" style="max-width: 400px; width: 100%;" alt="img preview">
                
                                                    </div>
                                                    <div class="img-format pt-3 w-100">
                                                        <ul type="circle" class="d-flex flex-column flex-sm-row justify-content-evenly ">
                                                            <li><%= t('event.create-event.recmd-size') %>: 2160 x 1080px</li>
                                                            <li><%= t('event.create-event.max-size') %>: 3MB</li>
                                                            <li><%= t('event.create-event.support-file') %>: JPG. .JPEG, .PNG</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <!-- Event Overview -->
                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                
                                                <div class="main-form active">
                                                    <h5 class=""><%= t('event.create-event.eventOverview') %></h5>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-event.tip-overview') %></p>
                                                    </div>
                                                    <!-- <p>Give an attractive brief paragraph about your event.</p> -->
                                                    <div class="mb-3">
                                                        <label for
                                                            class="form-label fw-medium mb-2"><%= t('event.eventTitle') %></label>
                                                        <div class="input-field input-field-setting border-2"
                                                            id="input-field-title">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                            <input type="text" placeholder="<%= t('event.eventTitle') %>"
                                                                id="title" class=""
                                                                autofocus value="" />
                                                            
                                                        </div>
                                                        <div
                                                            class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                            id="invalid_feedback_title">
                                                            <i
                                                                class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2 ">Invalid email.</div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 mt-2 w-100">
                                                        <div class="mb-3">
                                                            <label for
                                                            class="form-label fw-medium mb-2 d-block"><%= t('event.create-event.eventType') %></label>
                                                            <div id="input-container">
                                                                <input class="form-check-input" name="event_type" type="radio" disabled id="inPerson" value="2"> 
                                                                <label class="form-check-label radio-lb"><%= t('event.create-event.offline') %></label> 
                                                                <input class="form-check-input" name="event_type" type="radio" disabled id="online" value="1"> 
                                                                <label class="form-check-label radio-lb"><%= t('event.create-event.online') %></label> 
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <div class="w-100">
                                                        <div class="mb-3">
                                                            <label for
                                                            class="form-label fw-medium mb-2"><%= t('event.create-event.eventCate') %></label>
         <select class="tom-selected" id="select-category" name="state[]" multiple placeholder="Choose Categories" autocomplete="off">
                                                                    <!-- <option value="">Select a state...</option> -->
                                                                    <option value="1">entertainment</option>
                                                                    <option value="2">music</option>
                                                                </select>
                                                                <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_event_categories">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="onlineMessage" class="text-brand mt-2 d-none">
                                                <i class="fa-solid fa-circle-info"></i> &nbsp;<%= t('event.create-event.eventLink') %>
                                            </div>
                                        </div>
                                        
                                        <!--  -->
                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                
                                                <div class="main-form active">
                                                    <h4 class="mb-3" id="stepEventDateLocation"><%= t('event.create-event.dateLocation') %></h4>
                                                    <div class="row gx-4 gy-1">
                                                        <div class="col-md-12 col-lg-12 col-xxl-8">
                                                            <div class="row gx-4 gy-1">
                                                                <div class="col-md-6 col-lg-7 col-xxl-8">
                                                                    <div class="mb-3">
                                                                        <label for class="form-label fw-medium mb-2"><%= t('event.create-event.startD') %></label>
                                                                        <div class="input-field input-field-setting border-2" id="input-field-started-date">
                                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                                            <input type="date" id="started-date" class="" />
                                                                        </div>
                                                                        <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_started_date">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-5 col-xxl-4">
                                                                    <div class="mb-3">
                                                                        <label for class="form-label fw-medium mb-2"><%= t('event.create-event.startT') %></label>
                                                                    <div class="input-field input-field-setting border-2" id="input-field-start-time">
                                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                                        <input type="time" id="start-time" class=""  />
                                                                    </div>
                                                                    <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_start_time">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-7 col-xxl-8">
                                                                    <div class="mb-3">
                                                                        <label for class="form-label fw-medium mb-2"><%= t('event.create-event.endD') %></label>
                                                                    <div class="input-field input-field-setting border-2" id="input-field-ended-date">
                                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                                        <input type="date" id="ended-date" class=""  />
                                                                    </div>
                                                                    <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_end_date">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-lg-5 col-xxl-4">
                                                                    <div class="mb-3">
                                                                        <label for class="form-label fw-medium mb-2"><%= t('event.create-event.endT') %></label>
                                                                    <div class="input-field input-field-setting border-2" id="input-field-end-time">
                                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                                        <input type="time" id="end-time" class=""  />
                                                                    </div>
                                                                    <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_end_time">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
        
                                                        <div class="col-md-12" id="block-location">
                                                            <div class="mb-3">
                                                                <label for
                                                                class="form-label fw-medium mb-2"><%= t('event.create-event.location') %></label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-location">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="text" placeholder="Street 2002, PP"
                                                                    id="location" class=""
                                                                    autofocus value="" />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_location">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                
                                                <div class="main-form active">
                                                    <h4 class="mb-0"><%= t('event.create-event.event-des') %></h4>
                                                    <div class="d-flex align-items-center mb-4">
                                                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-event.tip-des') %></p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="mb-3">
                                                            <label for
                                                            class="form-label fw-medium mb-2"><%= t('event.create-event.short-des') %></label>
                                                        <div class="input-field input-field-setting border-2"
                                                            id="input-field-short-description">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                            <input type="text" placeholder="<%= t('event.create-event.short-des') %>"
                                                                id="short-description" class=""
                                                                autofocus />
                                                        </div>
                                                        <div
                                                            class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                            id="invalid_feedback_short_description">
                                                            <i
                                                                class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2 ">Invalid email.</div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="mb-3">
                                                            <label for
                                                            class="form-label fw-medium mb-2 mt-2"><%= t('event.create-event.des-detail') %></label>
                                                    
                                                        <div class="description mb-3 overflow-hidden" id="input-field-description" style="border: 1px solid var(--c-brand);border-radius: 8px;">
                                                            <div id="editor" class="bg-white" style="min-height: 150px;"></div>
                                                        </div>
                                                        <div
                                                            class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                            id="invalid_feedback_description">
                                                            <i
                                                                class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2 ">Invalid email.</div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                <div class="main-form active">
                                                    <h4 class="mb-0"><%= t('event.create-event.eventAgenda') %></h4>
                                                    <div class="d-flex align-items-center mb-4">
                                                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-tip-agenda') %></p>
                                                    </div>
                                                    <div class="description my-3 ">
                                                        <!-- <div id="agendaEditor"></div> -->
                                                        <div id="agenda-wrapper">
                                                            
                                                        </div>
                                                        <button type="button" class="btn btn-outline-brand fw-medium d-flex align-items-center" onclick="createNewAgenda()"><i
                                                                class="fa-solid fa-plus"></i>&nbsp; <%= t('event.create-event.addAgenda') %></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="skipAgendaMessage" class="text-brand mt-2">
                                                <i class="fa-solid fa-circle-info"></i> &nbsp;<%= t('event.create-event.skipAgenda') %>
                                            </div>
                                            
                                                    
                                        </div>

                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3">
                                                <div class="main-form active">
                                                    <h4 class="mb-0"><%= t('event.create-event.ticketCate') %></h4>
                                                    <div class="d-flex align-items-center mb-4">
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-event.tip-ticket') %></p>
                                                    </div>
                                        
                                                    <!-- Default Ticket Category -->
                                                    <div id="default-ticket">
                                                        <h5 class="fw-semibold text-brand mb-3"><%= t('event.create-event.generalAdmission') %></h5>
                                                        <div class="row gx-4 gy-0">
                                                            <div class="d-none">
                                                                <input type="hidden" id="defaultTicketCategoryId">
                                                                <label class="form-label fw-medium mb-2"><%= t('event.create-event.ticket-name') %></label>
                                                                <div class="input-field input-field-setting mb-3" id="input-field-defaultTicketCategoryName">
                                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                                    <input type="hidden" value="General Admission" id="defaultTicketCategoryName" placeholder="e.g. VIP, Normal">
                                                                </div>
                                                                <div class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100" id="invalid_feedback_defaultTicketCategoryName">
                                                                    <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                    <div class="ms-2 ">Invalid email.</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-5 mb-3">
                                                                <label class="form-label fw-medium mb-2"><%= t('event.create-event.price') %></label>
                                                                <div class="input-field input-field-setting border-2" id="input-field-defaultTicketPrice">
                                                                    <i class="fa-solid fa-dollar-sign"></i>
                                                                    <input type="number" id="defaultTicketPrice" placeholder="<%= t('event.create-event.enter-price') %>">
                                                                </div>
                                                                <div class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100" id="invalid_feedback_defaultTicketPrice">
                                                                    <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                    <div class="ms-2 ">Invalid email.</div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-xl-5">
                                                                <label class="form-label fw-medium mb-2"><%= t('event.create-event.Capacity') %></label>
                                                                <div class="input-field input-field-setting border-2" id="input-field-defaultTicketCapacity">
                                                                    <i class="fa-solid fa-ticket"></i>
                                                                    <input type="number" id="defaultTicketCapacity" placeholder="<%= t('event.create-event.enterCapacity') %>">
                                                                </div>
                                                                <div class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100" id="invalid_feedback_defaultTicketCapacity">
                                                                    <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                    <div class="ms-2 ">Invalid email.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        
                                                    <!-- Button to Toggle Between Default and Custom Ticket Categories -->
                                                    <button id="toggle-ticket-btn" class="btn btn-outline-brand fw-medium mt-3">
                                                        <i class="fa-solid fa-plus"></i>&nbsp; <%= t('event.create-event.create-ownedTicket') %>
                                                    </button>
                                        
                                                    <!-- Custom Ticket Categories Section -->
                                                    <div id="custom-ticket-section" style="display: none;">
                                                        <div id="ticket-wrapper"></div>
                                        
                                                        <!-- Button to Add More Custom Ticket Categories -->
                                                        <button type="button" class="btn btn-outline-brand fw-medium" onclick="createNewTicketCategory()">
                                                            <i class="fa-solid fa-plus"></i> &nbsp; <%= t('event.create-event.addNewTCate') %>
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div id="skipTicketMessage" class="text-brand mt-2 d-none">
                                                <i class="fa-solid fa-circle-info"></i> &nbsp;<%= t('event.create-event.noTicketInfo') %>
                                            </div>
                                        </div>
                                        <div class="step" id="step-payment">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                <h5><%= t('event.create-event.paymentMethod') %></h5>
                                                <div class="form-display active upload-cover">
                                                    <img class="icon-img" src="../../assets/img/icon/plus.png" alt="">
                                                </div>
                                                <div class="main-form active upload-img-form">
                                                    <div class="d-flex align-items-center mb-3">
                                                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-event.tip-payment') %></p>
                                                    </div>
                                                    <div class="upload-section d-flex align-items-center rounded-3 justify-content-center p-5 flex-column"
                                                    id="khqr-upload-section">
                                                        <i id="khqrPhotoIcon" class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                        <label id="khqrPhotoInputBtn" for="khqrPhotoUpload" class="btn-outline-pink d-flex align-items-center"><i
                                                                class="fa-regular fa-image fs-5 text-secondary me-1"></i> <%= t('event.create-event.uploadImg') %></label>
                                                        <input class="d-none" id="khqrPhotoUpload" accept=".jpg, .jpeg" type="file"></input>
                                                        <div class="d-flex">
                                                            <p id="KhqrPhotoName" class="text-secondary pt-3"><%= t('event.create-event.no-file') %></p>
                                                            <button id="btnRemoveKhqrImg" type="button"
                                                                class="ms-1 text-secondary bg-transparent border-0 fs-5 ">
                                                                <i class="fa-solid fa-circle-xmark"></i></button>
                                                        </div>
                                                        <img id="KhqrPhotoDisplay" src="" class="" style="max-width: 400px; width: 100%;" alt="img preview">
                
                                                    </div>
                                                    <div class="img-format pt-3 w-100">
                                                        <ul type="circle" class="d-flex flex-column flex-sm-row justify-content-evenly ">
                                                            <li><%= t('event.create-event.recmd-size') %>: 2160 x 1080px</li>
                                                            <li><%= t('event.create-event.max-size') %>: 3MB</li>
                                                            <li><%= t('event.create-event.support-file') %>: .JPG .JPEG, .PNG</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="skipKhqrMessage" class="text-brand mt-2 d-none">
                                                <i class="fa-solid fa-circle-info"></i> &nbsp;<%= t('event.create-event.noQrInfo') %>
                                            </div>
                                        </div>
                                        <!-- Event Publish -->
                                        <div class="step">
                                            <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                                
                                                <div class="main-form active">
                                                    <h5 class=""><%= t('event.create-event.publishEvent') %></h5>
                                                    
                                                    <div class="d-flex align-items-center mb-3">
                                                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                        <p class="p-0 m-0"><span class="fw-medium"><%= t('event.create-event.tip') %>:</span> <%= t('event.create-event.tip-publish') %></p>
                                                    </div>
                                                    <p class="fw-medium"><%= t('event.create-event.publishQuestion') %></p>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="publishStatus" id="publicOption">
                                                        <label class="form-check-label" for="publicOption">
                                                            <span class="fw-medium"><%= t('event.create-event.Public') %></span><br>
                                                            <small class="text-muted"><%= t('event.create-event.sharePublish') %></small>
                                                        </label>
                                                    </div>
                                                
                                                    <div class="form-check mt-2">
                                                        <input class="form-check-input" type="radio" name="publishStatus" id="privateOption" checked>
                                                        <label class="form-check-label" for="privateOption">
                                                            <span class="fw-medium"><%= t('event.create-event.Private') %></span><br>
                                                            <small class="text-muted"><%= t('event.create-event.sharePrivate') %></small>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="step">
                                            <div class="mt-1">
                                                <div class="closing-text">
                                                    <h4><%= t('event.create-event.cfPost-h4') %></h4>
                                                    <p><%= t('event.create-event.cfPost-p1') %></p>
                                                    <p><%= t('event.create-event.cfPost-p2') %></p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    <div id="q-box__buttons" class="d-flex align-items-center justify-content-center" style="margin-top: 40px;">
                                        <button id="prev-btn" type="button" class="me-2"><%= t('event.create-event.Previous') %></button> 
                                        <button id="next-btn" type="button"><%= t('event.create-event.Next') %></button> 
                                        <button id="submit-btn" type="submit"><%= t('event.create-event.Submit') %></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </main>
    <div class="height-mobile"></div>

    <%- include("../../partials/script.ejs") %>
    
    <script src="/js/events/update-event.js">
    </script>
    
   
    
</body>
</html>
