<!DOCTYPE html>
<html lang="<%= lang %>">

<%- include("../../partials/head.ejs")  %>

<body>
    <%- include("../../partials/navbar.ejs")  %>
    <!-- Header Section -->
    <div class="bg-brand text-white text-center py-4 d-flex flex-column justify-content-center">
        <h1><%= t('static.termOfService.title') %></h1>
        <p><%= t('static.termOfService.lastUpdate') %> : January 29, 2025</p>
    </div>

    <!-- Terms Content Section -->
    <div class="container my-5">
        <h2 class="mb-4"><%= t('static.termOfService.h2-1') %></h2>
        <p><%= t('static.termOfService.h2-p1') %></p>

        <h2 class="mb-4"><%= t('static.termOfService.h2-2') %></h2>
        <p><%= t('static.termOfService.h2-p2') %></p>

        <h2 class="mb-4"><%= t('static.termOfService.h2-3') %></h2>
        <ul class="ms-4 ps-2 mb-4">
            <li><strong><%= t('static.termOfService.content3-ls1') %> :</strong> <%= t('static.termOfService.content3-l1') %></li>
            <li><strong><%= t('static.termOfService.content3-ls2') %> :</strong> <%= t('static.termOfService.content3-l2') %></li>
            <li><strong><%= t('static.termOfService.content3-ls3') %> :</strong> <%= t('static.termOfService.content3-l3') %></li>
        </ul>

        <h2 class="mb-4"><%= t('static.termOfService.h2-4') %></h2>
        <ul class="ms-4 ps-2 mb-4">
            <li><strong><%= t('static.termOfService.content4-ls1') %> :</strong> <%= t('static.termOfService.content4-l1') %></li>
            <li><strong><%= t('static.termOfService.content4-ls2') %> :</strong> <%= t('static.termOfService.content4-l2') %></li>
        </ul>

        <h2 class="mb-4"><%= t('static.termOfService.h2-5') %></h2>
        <p><%= t('static.termOfService.h2-p5') %></p>

        <h2 class="mb-4"><%= t('static.termOfService.h2-6') %></h2>
        <p><%= t('static.termOfService.h2-p6') %></p>

        <h2 class="mb-4"><%= t('static.termOfService.h2-7') %></h2>
        <ul class="ms-4 ps-2 mb-4">
            <li><strong><%= t('static.termOfService.content7-ls1') %> :</strong> <%= t('static.termOfService.content7-l1') %></li>
            <li><strong><%= t('static.termOfService.content7-ls2') %> :</strong> <%= t('static.termOfService.content7-l2') %></li>
            <li><strong><%= t('static.termOfService.content7-ls3') %> :</strong> <%= t('static.termOfService.content7-l3') %></li>
        </ul>

        <h2 class="mb-4"><%= t('static.termOfService.h2-8') %></h2>
        <p><%= t('static.termOfService.h2-p8') %>
            <a href="mailto:support@example.com">support@pruttika.com</a>.
        </p>

        <!-- Back to Top Button -->
        <div class="text-center mt-5">
            <a href="#top" class="btn btn-brand"><%= t('static.termOfService.backToTop') %></a>
        </div>
    </div>

    <%- include("../../partials/footer.ejs")  %>

    <%- include("../../partials/script.ejs")  %>
</body>

</html>