<!DOCTYPE html>
<html lang="<%= lang %>">
    <%- include("../../partials/head.ejs") %>
    <body id="notification-page">
        <%- include("../../partials/navbar.ejs")  %>
        <!-- <div class="m">&nbsp;</div> -->

        <div class="container-lg py-4" >
            <div
                class style="color: #333 !important; ">
                <div
                    class="d-flex align-items-center justify-content-between">
                    <div class="d-flex ">
                        <h4><%= t('notification.title') %></h4>
                        
                    </div>

                    <div class="d-flex align-items-center">

                        <div class="btn text-brand btn-sm border-0" id="btnMarkAll"><%= t('notification.make-as-read') %></div>
                    </div>
                </div>
            </div>

            <div>
                <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item border-bottom-2" role="presentation">
                        <button
                            class="nav-link" 
                            id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button"
                            role="tab" aria-controls="pills-home"
                            aria-selected="true"><%= t('notification.all') %></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                            id="pills-profile-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button"
                            role="tab" aria-controls="pills-profile"
                            aria-selected="false"><%= t('notification.unread') %> <span id="notiUnreadCount"></span></button>
                    </li>
                </ul>
                <div class="tab-content m-0" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home"
                        role="tabpanel" aria-labelledby="pills-home-tab"
                        tabindex="0">

                        <div class="row" id="notification-container">
                            
                        </div>
                        
                    </div>
                    <div class="tab-pane fade" id="pills-profile"
                            role="tabpanel" aria-labelledby="pills-profile-tab"
                            tabindex="0">
                    <div class="row" id="notification-container-unread">

                    </div>
                           <!-- notification-container-unread -->
                        </div>
                </div>

            </div>

            <div class="modal fade" id="notificationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" id="modal-noti-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="notificationModalLabel">Notification Details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-noti">
                        <div class="ticket-notification">
                            <div class="notif-header">
                                <div>
                                    <span class="success-icon">&#10004;</span>
                                    <strong>Your Ticket Has Been Approved!</strong><br>
                                    <small>សំបុត្ររបស់អ្នកត្រូវបានអនុម័តជោគជ័យ!</small>
                                </div>
                                <div>
                                    <small>Mar 6, 2025</small>
                                    <button class="close-btn" onclick="closeNotification()">&times;</button>
                                </div>
                            </div>
                            <div class="notif-content">
                                <p>Congratulations! Your ticket for Test Event Offline has been successfully approved. Enjoy the event! Check your details here.</p>
                                <p>អបអរសាទរ! សំបុត្ររបស់អ្នកសម្រាប់កម្មវិធី Test Event Offline ត្រូវបានអនុម័តដោយជោគជ័យ។ សូមរីករាយជាមួយព្រឹត្តិការណ៍នេះ! ពិនិត្យព័ត៌មានលម្អិតរបស់អ្នកនៅទីនេះ។</p>
                            </div>
                            <div class="notif-footer">
                                <div class="user-info">
                                    <img src="" alt="User Profile" class="rounded-circle">
                                    <div>
                                        <strong>Phak123</strong><br>
                                        សុខ រិទ្ធាន
                                    </div>
                                </div>
                                <div class="event-info">
                                    Event: Test Event Offline
                                </div>
                            </div>
                        </div>
                    </div>

                  </div>
                </div>
              </div>



            <%- include("../../partials/script.ejs") %>
            <script src="/js/notification/notification.js"></script>
        </body>
    </html>



